<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
   
<font color="green"><b><i><h2><%= surveyname %></h2></b></i></font>
   
 
  <div class="row">
     <table class="table table-inverse">
   <% for (var i = 0; i < agree.length; i++) {
    if(agree[i].displayName == displayName  )
        {
        if(agree[i].surveyName==surveyname){
    %>
  <tbody>
    <tr>
     
      <th colspan="4"><%= agree[i].question %></th>
      
    </tr>
   <tr>
      <td width="5%">A</td>
      <td width="45%"><%= agree[i].option1 %></td>
      <td  width="5%">B</td>
      <td width="45%"><%= agree[i].option2 %></td>
      
    </tr>
   
    
  </tbody>
   <% }} }  %>
     </table>
</div>

<form action="/respond/presend" method="get">
                                             <input type="hidden" name="surveyName" value="<%= surveyname %>"/>
                                             <input type="hidden" name="displayName" value="<%= displayName %>"/>
                                              <input type="hidden" name="surveyType" value="agree"/>
                                               <input type="email" name="fromadd" placeholder="Email"/>
                                           <a href=""> <button type="submit" class="btn btn-success" >Generate Survey</button></a>
                                           <!--   <a href="users/add"> <font color="green"><b><i><h5><%= agree[i] %></h5></b></i></font></a>-->
                                            </form>
   
</main>
<% include ../partials/footer.ejs %>